<div class="button-home">
  <button mat-fab color="primary" aria-label="home" (click)="backToHome()">
    <mat-icon>home</mat-icon>
  </button>
</div>

<div class="content">
  <button mat-raised-button color="primary" (click)="openModal()">AGREGAR ALUMNO</button>
</div>

<app-alumnos [students]="students"></app-alumnos>

<ng-template #agregarAlumno>
  <div class="modal-background">
  <div class="modal-card">
    <div class="modal-card-head">
      <button mat-raised-button color="primary" (click)="hideModal()"><mat-icon matSuffix>close</mat-icon></button>
    </div>
    <div class="modal-card-body">
      <h2 class="text-primary" appTitle>NUEVO ALUMNO</h2>
      <form [formGroup]="formAlumnos" (ngSubmit)="onSubmit()">
        <div class="form">
          <mat-form-field appearance="fill">
            <mat-label>Documento</mat-label>
            <input matInput formControlName="documentNumber" placeholder="Ingresa tu Nº de documento">
            <mat-icon matSuffix>3p</mat-icon>
            <mat-error *ngIf="this.formAlumnos.controls['documentNumber'].invalid">{{getErrorDocument()}}</mat-error>
          </mat-form-field>
          <div class="row">
            <mat-form-field appearance="fill" class="select">
              <mat-label>Nombre</mat-label>
              <input matInput formControlName="name" placeholder="Ingresa tu nombre">
              <mat-icon matSuffix>person</mat-icon>
              <mat-error *ngIf="this.formAlumnos.controls['name'].invalid">{{getErrorName()}}</mat-error>
            </mat-form-field>
            <mat-form-field appearance="fill" class="select">
              <mat-label>Apellidos</mat-label>
              <input matInput formControlName="lastname" placeholder="Ingresa tu apellido">
              <mat-icon matSuffix>person</mat-icon>
              <mat-error *ngIf="this.formAlumnos.controls['lastname'].invalid">{{getErrorLastName()}}</mat-error>
            </mat-form-field>
          </div>
          <div class="row">
            <mat-form-field appearance="fill" class="select">
              <mat-label>Curso</mat-label>
              <mat-select formControlName="course">
                <mat-option value="Angular">Angular</mat-option>
                <mat-option value="Javascript">Javascript</mat-option>
                <mat-option value="React">React</mat-option>
              </mat-select>
              <mat-error *ngIf="this.formAlumnos.controls['course'].invalid">{{getErrorCourse()}}</mat-error>
            </mat-form-field>
            <mat-form-field appearance="fill" class="select">
              <mat-label>Turno</mat-label>
              <mat-select formControlName="turn">
                <mat-option value="Mañana">Mañana</mat-option>
                <mat-option value="Tarde">Tarde</mat-option>
                <mat-option value="Noche">Noche</mat-option>
              </mat-select>
              <mat-error *ngIf="this.formAlumnos.controls['turn'].invalid">{{getErrorTurn()}}</mat-error>
            </mat-form-field>
          </div>
          <mat-form-field appearance="fill">
            <mat-label>Email</mat-label>
            <input matInput formControlName="email" placeholder="pat@example.com">
            <mat-icon matSuffix>mail</mat-icon>
            <mat-error *ngIf="this.formAlumnos.controls['email'].invalid">{{getErrorEmail()}}</mat-error>
          </mat-form-field>
          <button mat-flat-button color="primary" type="submit" [disabled]="formAlumnos.invalid">Registrar</button>
        </div>
      </form>
    </div>
  </div>
  </div>
</ng-template>
