<div class="button-home">
  <button mat-fab color="primary" aria-label="home" (click)="backToHome()">
    <mat-icon>home</mat-icon>
  </button>
</div>

<div class="content">
  <button mat-raised-button color="primary" (click)="openModal()">AGREGAR ALUMNO</button>
</div>

<div class="container">
  <h1 class="text-primary" appTitle>LISTA DE ALUMNOS</h1>
  <table mat-table [dataSource]="students" >
    <ng-container matColumnDef="documentNumber">
      <th mat-header-cell *matHeaderCellDef class="bg-secondary text-light"> Documento </th>
      <td mat-cell *matCellDef="let element"> {{element.documentNumber}} </td>
    </ng-container>

    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef class="bg-secondary text-light"> Nombres y Apellidos </th>
      <td mat-cell *matCellDef="let element"> {{element.name | alumno: element.lastname}} </td>
    </ng-container>

    <ng-container matColumnDef="course">
        <th mat-header-cell *matHeaderCellDef class="bg-secondary text-light"> Curso </th>
        <td mat-cell *matCellDef="let element"> {{element.course}} </td>
    </ng-container>

    <ng-container matColumnDef="turn">
        <th mat-header-cell *matHeaderCellDef class="bg-secondary text-light"> Turno </th>
        <td mat-cell *matCellDef="let element"> {{element.turn}} </td>
    </ng-container>

    <ng-container matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef class="bg-secondary text-light"> Email </th>
      <td mat-cell *matCellDef="let element"> {{element.email}} </td>
  </ng-container>

    <ng-container matColumnDef="delete">
        <th mat-header-cell *matHeaderCellDef class="bg-secondary text-light"> Eliminar </th>
        <td mat-cell *matCellDef="let element">
            <button mat-icon-button color="warn" aria-label="delete" (click)="deleteStudent(element)">
                <mat-icon>delete</mat-icon>
            </button>
        </td>
    </ng-container>

    <ng-container matColumnDef="edit">
      <th mat-header-cell *matHeaderCellDef class="bg-secondary text-light"> Editar </th>
      <td mat-cell *matCellDef="let element">
          <button mat-icon-button color="warn" aria-label="edit" (click)="openModalEdit(element)">
              <mat-icon>edit</mat-icon>
          </button>
      </td>
  </ng-container>


    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>

<ng-template #agregarAlumno>
  <div class="modal-background">
  <div class="modal-card">
    <div class="modal-card-head">
      <button mat-raised-button color="primary" (click)="hideModal()"><mat-icon matSuffix>close</mat-icon></button>
    </div>
    <div class="modal-card-body">
      <h2 class="text-primary" appTitle>{{title}}</h2>
      <form [formGroup]="formAlumnos" (ngSubmit)="this.title == 'NUEVO ALUMNO' ? addStudent() : editStudent()">
        <div class="form">
          <mat-form-field appearance="fill">
            <mat-label>Documento</mat-label>
            <input matInput formControlName="documentNumber" placeholder="Ingresa tu Nº de documento" >
            <mat-icon matSuffix>3p</mat-icon>
            <mat-error *ngIf="this.formAlumnos.controls['documentNumber'].invalid">{{getErrorDocument()}}</mat-error>
          </mat-form-field>
          <div class="row">
            <mat-form-field appearance="fill" class="select">
              <mat-label>Nombre</mat-label>
              <input matInput formControlName="name" placeholder="Ingresa tu nombre">
              <mat-icon matSuffix>person</mat-icon>
              <mat-error *ngIf="this.formAlumnos.controls['name'].invalid">{{getErrorName()}}</mat-error>
            </mat-form-field>
            <mat-form-field appearance="fill" class="select">
              <mat-label>Apellidos</mat-label>
              <input matInput formControlName="lastname" placeholder="Ingresa tu apellido">
              <mat-icon matSuffix>person</mat-icon>
              <mat-error *ngIf="this.formAlumnos.controls['lastname'].invalid">{{getErrorLastName()}}</mat-error>
            </mat-form-field>
          </div>
          <div class="row">
            <mat-form-field appearance="fill" class="select">
              <mat-label>Curso</mat-label>
              <mat-select formControlName="course">
                <mat-option value="Angular">Angular</mat-option>
                <mat-option value="Javascript">Javascript</mat-option>
                <mat-option value="React">React</mat-option>
              </mat-select>
              <mat-error *ngIf="this.formAlumnos.controls['course'].invalid">{{getErrorCourse()}}</mat-error>
            </mat-form-field>
            <mat-form-field appearance="fill" class="select">
              <mat-label>Turno</mat-label>
              <mat-select formControlName="turn">
                <mat-option value="Mañana">Mañana</mat-option>
                <mat-option value="Tarde">Tarde</mat-option>
                <mat-option value="Noche">Noche</mat-option>
              </mat-select>
              <mat-error *ngIf="this.formAlumnos.controls['turn'].invalid">{{getErrorTurn()}}</mat-error>
            </mat-form-field>
          </div>
          <mat-form-field appearance="fill">
            <mat-label>Email</mat-label>
            <input matInput formControlName="email" placeholder="pat@example.com">
            <mat-icon matSuffix>mail</mat-icon>
            <mat-error *ngIf="this.formAlumnos.controls['email'].invalid">{{getErrorEmail()}}</mat-error>
          </mat-form-field>
          <button mat-flat-button color="primary" type="submit" [disabled]="formAlumnos.invalid">Guardar</button>
        </div>
      </form>
    </div>
  </div>
  </div>
</ng-template>
