<div class="title">
  <h2>SOBRE NOSOTROS</h2>
</div>

<div class="parraf">

  <p>
    TEC VIRTUAL es una organización educativa privada sin fines de lucro, dedicada a formar y capacitar profesionales, así como brindar servicios de consultoría, investigación y aplicación de tecnología. El fundador, Luis Hochschild Plaut, se esforzó por hacer de TEC VIRTUAL una valiosa obra para beneficio de los jóvenes y profesionales de empresas e instituciones del país.
  </p>


  <p>
    Desde 1984, TEC VIRTUAL ofrece a jóvenes la oportunidad de seguir carreras profesionales relacionadas con la aplicación de la tecnología y desaarollo de software. Asimismo, ofrece a profesionales en la industria la oportunidad de actualizarse o especializarse en distintos procesos de desarrollo tecnológico a través de programas cortos.
  </p>


  <p>
    El sistema educativo desarrollado por TEC VIRTUAL se ha basado en experiencias del extranjero, y su implementación y desarrollo ha sido solventado gracias a los aportes de más de 200 empresas privadas peruanas y a la cooperación de instituciones internacionales.
  </p>

</div>
